<div class="container">
  <div class="row margin-top">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center">Edit Client</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="editClientForm">
        <input type="hidden" class="form-control" formControlName="id" />

        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && !f.name.valid }" />
          <div *ngIf="submitted && !f.name.valid && f.name.errors.required" class="invalid-feedback">First Name is required</div>
        </div>

        <div class="form-group">
          <label>Credit Limit:</label>
          <input type="text" class="form-control" formControlName="creditLimit" currencyMask [ngClass]="{ 'is-invalid': submitted && !f.creditLimit.valid }" />
          <div *ngIf="submitted && !f.creditLimit.valid && f.creditLimit.errors.required" class="invalid-feedback">Credit Limit is required</div>
        </div>

        <div class="form-group">
          <label>Risk:</label>
          <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" [routerLink]="" role="button" aria-haspopup="true" aria-expanded="false">{{f.risk.value}}</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="onClientTypeSelect()" [routerLink]="">Select</a>
                <a *ngFor="let item of risks" class="dropdown-item" (click)="onRiskSelect(item)" [routerLink]="">{{item.description}}</a>
              </div>
            </li>
          </ul>
          <input type="text" formControlName="risk" class="form-control display-none" [ngClass]="{ 'is-invalid': submitted && !f.risk.valid }">
          <div *ngIf="submitted && !f.risk.valid && f.risk.errors.pattern" class="invalid-feedback">Risk is invalid select someone</div>
        </div>

        <button class="btn btn-success">Save</button>
        <button class="btn btn-primary margin-left" (click)="back()">Back</button>
      </form>
    </div>
  </div>
</div>
